[submodule ".registry"]
	path = .registry
	url = https://github.com/andybunn/universe
	shallow = true
	branch = HEAD
[submodule "dplR"]
	path = dplR
	url = https://github.com/AndyBunn/dplR
	shallow = true
	registered = true
